@import url(//db.onlinewebfonts.com/c/9b06ae83a4412168ed194a8ed31218c2?family=Mabry+Pro+Medium);
:root{
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Mabry Pro Medium", sans-serif;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E16071;
}
